# Ignore everything
*

# Except samples folder
!samples/
!samples/**

# And Pretrain_Model folder - but only specific file types
!Pretrain_Model/
!Pretrain_Model/**/*.py
!Pretrain_Model/**/*.json
!Pretrain_Model/**/*.csv

# And keep .gitignore
!.gitignore
